
div{
    background-color: salmon;
    width: 400px;
    height: fixed;
    margin: 30px;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    border: 5px dotted black;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
th{
    color: sienna;
}
td{
    color: silver;
}
h1{
    color:green;
    text-align: center;  
}
ul li {
    color: purple;
}

ol li{
    color: blue;
}
